[submodule "3rdpart/Bento4"]
	path = 3rdpart/Bento4
	url = https://github.com/axiomatic-systems/Bento4.git
[submodule "3rdpart/libsrtp"]
	path = 3rdpart/libsrtp
	url = https://github.com/cisco/libsrtp.git
