<html>
<script src="https://cdn.bootcdn.net/ajax/libs/mqtt/5.1.3/mqtt.min.js"></script>
<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script>
    function getCrc(buf, size = 7) {
        var sum = 0;
        for (var i = 0; i < 7; i++)
            sum += buf[i];
        return sum & 0xFF;
    }

    class Flag {
        constructor(o, s, n, u = '') {
            this.offset = o; ///< 偏移
            this.size = s; ///< 大小
            this.name = n; ///< 名称
            this.unit = u; ///< 单位
            this.mod = 1; ///< 除数
            this.time = false; ///< 四个字节，来表示时分的十位和个位
            this.timeStr = '';
            this.enums = new Map();
            this.bits = new Map();
            this.d0Type = 0;
            this.rawValue = 0;
        }

        // 链式操作
        addBits(pos, desc) { this.bits.set(pos, desc); return this; }
        addEnums(pos, desc) { this.enums.set(pos, desc); return this; }
        setUnit(u) { this.unit = u; return this; }
        setMod(m) { this.mod = m; return this; }
        setTime(v) { this.time = v; return this; }

        setBit(pos, val) {
            console.log(this.name, `setBit ${pos}=${val}`);
            if (val)
                this.rawValue |= (1 << pos);
            else
                this.rawValue &= ~(1 << pos); 
        }
        getBit(pos) {
            return (this.rawValue & (1 << pos))!=0;
        }

        // 处理D0消息
        setD0Type(v) { this.d0Type = v; return this; }
        makeD0(buff, devId = 1) {
            if (!this.d0Type) return false;
            if (this.time && this.timeStr)
                this.setTimeStr(this.timeStr);
            buff[0] = devId;
            buff[1] = 0xD0;
            buff[2] = this.d0Type;
            // set value
            buff[3] = (this.rawValue >> 24) & 0xFF;
            buff[4] = (this.rawValue >> 16) & 0xFF;
            buff[5] = (this.rawValue >> 8) & 0xFF;
            buff[6] = this.rawValue & 0xFF;
            buff[7] = getCrc(buff);
            return true;
        }
        canEdit() { return this.d0Type != 0; }
        updateTimeStr(){
            if (this.time) {
                var d0 = (this.rawValue >> 24) & 0xFF;
                var d1 = (this.rawValue >> 16) & 0xFF;
                var d2 = (this.rawValue >> 8) & 0xFF;
                var d3 = this.rawValue & 0xFF;
                this.timeStr = `${d0}${d1}:${d2}${d3}`;
            }
        }
        setTimeStr(str) {
            if (!this.time)
                return false;
            var p = str.indexOf(':');
            console.log(this.name, str, p, str.length);
            var d0 = p > 1 ? parseInt(str[p-2]) << 24 : 0;
            var d1 = p > 0 ? parseInt(str[p-1]) << 16 : 0;
            var d2 = (str.length - p) > 0 ? parseInt(str[p+1]) << 8 : 0;
            var d3 = (str.length - p) > 1 ? parseInt(str[p+2]) : 0;
            this.setRawValue(d0 | d1 | d2 | d3);
        }
        // 返回Flag的字符串表现形式，不包含name
        toString() {
            if (this.time) {
                //this.updateTimeStr();
                return this.timeStr;
            }

            if (this.enums.size) {
                if (this.enums.has(this.rawValue)) {
                    return this.enums.get(this.rawValue);
                }
                else {
                    return `unknown enum ${this.rawValue}`;
                }
            }
            else if (this.bits.size) {
                var ret = '';
                for (var bit of this.bits) {
                    if (this.getBit(bit[0])) {
                        if (ret.length == 0)
                            ret = bit[1];
                        else
                            ret = ret + "," + bit[1];
                    }
                }
                if (ret.length == 0) {
                    ret = `${this.rawValue}`;
                }
                return ret;
            }
            else if (this.mod && this.mod != 1) {
                var value = this.rawValue / this.mod;
                return `${value} ${this.unit}`;
            }
            else {
                return `${this.rawValue} ${this.unit}`;
            }
        }
        inRange(total) { return this.offset < total && this.offset + this.size <= total; }
        // 获取原始内存值
        setValue(buf) {
            if (!this.inRange(buf.length)) {
                console.warn(`skip ${this.name} out of range ${this.offset},${this.size} total ${buf.length}`);
                return false;
            }
            var ret = 0;
            for (var i = 0; i < this.size; i++) {
                ret = ret << 8;
                ret += buf[this.offset + i];
            }
            return this.setRawValue(ret);
        }

        setRawValue(val) {
            if (this.enums.size && !this.enums.has(val)) {
                console.warn(`${this.name} val ${val} not exist in enums`);
                return false;
            }
            this.rawValue = val;
            this.updateTimeStr();
            return true;
        }
        getValue() { return this.rawValue; }
    }


    // 协议解析器
    class PduParser {
        constructor(c, d) {
            this.cmd = c;
            this.desc = d;
            this._nexIndex = 0;
            this.flags = [];
        }
        parse(buff, log = true) {
            var stm = '';
            for (var it of this.flags) {
                var ret = it.setValue(buff);
                if (ret && log) // 根据buff设置值
                    stm += it.name + ": " + it.toString() + "\n";
            }
            if (log && stm.length)
                console.log(stm);
        }

        // 重置解析器
        reset(next) {
            this.flags.clear();
            this._nexIndex = 0;
        }
        setNextIndex(next) {
            this._nexIndex = next;
        }
        // 根据名字查找Flag
        getFlag(name) {
            for (var it of this.flags)
                if (it.name == name) return it;
            return null;
        }
        addFlag(size, name, unit = "") {
            var flag = new Flag(this._nexIndex, size, name, unit);
            this._nexIndex += size;
            this.flags.push(flag);
            return flag;
        }
        addByteFlag(name) {
            return this.addFlag(1, name);
        }
        addShortFlag(name, unit = "", mod = 1) {
            return this.addFlag(2, name, unit).setMod(mod);
        }
        addTimeFlag(name) {
            return this.addFlag(4, name).setTime(true);
        }
        addLongFlag(name, unit = "", mod = 1) {
            return this.addFlag(4, name, unit).setMod(mod);
        }
    }

    parseMaps = new Map();
    function getParser(cmd, desc = null) {
        var ret = null;
        if (parseMaps.has(cmd))
            return parseMaps.get(cmd)
        else if (desc) {
            ret = new PduParser(cmd, desc);
            parseMaps.set(cmd, ret);
        }
        return ret;
    }

    function registParser() {
        {
            var parser = getParser(0xEF, "错误返回");
            parser.addByteFlag("DevID");
            parser.addByteFlag("CMD"); // 0XEE
            parser.addByteFlag("ErrorCode")
                .addEnums(1, "当前状态不能完成操作")
                .addEnums(2, "不能识别的参数代码")
                .addEnums(3, "参数数据溢出");
            parser.addByteFlag("ReqCmd");  // 原命令码
            parser.addByteFlag("ReqType"); // 原控制码
            parser.addByteFlag("备用");
            parser.addByteFlag("备用");
            parser.addByteFlag("RcCode"); // 1-n-1字节的累加和，取低字节
        }

        // 设置波特率，无返回值 cmd = 0xDE, 命令类型 0x42, Data1: 1=1200,2=2400,3=4800,4=9600bps
        // 设置时钟, 群控不返回，地址0x01~0xF0原样返回 cmd = 0xDF, 命令类型=年（十位和个位）0x12表示2018年，Data1-4分别表示月日时分
        {
            var parser = getParser(0xDF, "设置时钟");
            parser.addByteFlag("DevID");
            parser.addByteFlag("CMD"); // 0xDF
            parser.addByteFlag("Year");
            parser.addByteFlag("Month");
            parser.addByteFlag("Day");
            parser.addByteFlag("Hour");
            parser.addByteFlag("Min");
            parser.addByteFlag("RcCode");
        }
        {
            var parser = getParser(0xD0, "设置参数");
            parser.addByteFlag("DevID");
            parser.addByteFlag("CMD"); // 0xD0
            parser.addByteFlag("Type")
                .addEnums(0x09, "电池类型设置") // 1 bytes，数据1,2,3无意义，填0。数据4: 0 = 铅酸免维护，1 = 铅酸胶体，2 = 铅酸液体，3 = 锂电
                .addEnums(0x0A, "电池额定电压设置") // 1 bytes: 0=自动识别，以铅酸电池12V每只为标准，1 = 12V, 2 = 24V以此类推
                .addEnums(0x0C, "DC输出控制")   // 1 bytes: 0=关闭，1=自动，2=时控，3=光控，4=远程控制
                .addEnums(0x11, "型号编码")   // 1 bytes
                .addEnums(0x12, "时控时间组标志")   // 1 bytes: Bit0：时间组1的时控标志，0 = 禁止，1 = 开启
                // Bit1：时间组2的时控标志，0 = 禁止，1 = 开启，无显示板设置
                .addEnums(0x21, "均充电压") // 2 bytes: 数据3高字节，数据4低字节，数据1, 2无意义，填0；
                // 带2位有效小数，电池类型设为锂电均充电压设置无效。自动识别状态下设置无效。
                .addEnums(0x22, "浮充电压")         // 同上
                .addEnums(0x23, "电低压保护电压") // 同上
                .addEnums(0x25, "最大充电电流")     // 同上，设定最大值不能超过硬件限流最大值
                .addEnums(0x26, "低压恢复电压")     // 同上
                .addEnums(0x27, "过压保护电压") // 同上
                .addEnums(0x28, "过压恢复电压") // 同上
                .addEnums(0x29, "PV启动电压")   // 2字节参数，无小数，最大值999
                .addEnums(0x2A, "PV关闭电压")   // 同上
                .addEnums(0x2B, "延时开启时间") // 2字节参数，以秒为单位，光控模式下PV达到设定电压后延时开启DC输出的时间，最大值999
                .addEnums(0x2C, "延时关闭时间") // 同上
                .addEnums(0x2D, "时控1开启时间") // 4字节参数，数据1时十位，数据2时个位，数据3分十位，数据4分个位，无显示板设置无效。
                .addEnums(0x2E, "时控1关闭时间")  // 同上
                .addEnums(0x2F, "时控2开启时间")  // 同上
                .addEnums(0x30, "时控2关闭时间"); // 同上
            parser.addByteFlag("Data1"); // 高字节
            parser.addByteFlag("Data2");
            parser.addByteFlag("Data3");
            parser.addByteFlag("Data4");  // 低字节
            parser.addByteFlag("RcCode"); // 1-n-1字节的累加和，取低字节
        }
        {
            var parser = getParser(0xC0, "开关功能"); // parseC0 正常返回与setC0一样
            parser.addByteFlag("DevID");
            parser.addByteFlag("CMD"); // 0xC0
            parser.addByteFlag("Type")
                .addEnums(1, "允许充电")
                .addEnums(2, "禁止充电")
                .addEnums(3, "远程开启DC输出")
                .addEnums(4, "远程关闭DC输出")
                .addEnums(5, "重置蜂鸣器报警") // 有新故障重新触发报警
                .addEnums(6, "开启背光"); // 1分钟后关闭
            parser.addByteFlag("Data1"); // 无意义
            parser.addByteFlag("Data2");
            parser.addByteFlag("Data3");
            parser.addByteFlag("Data4");
            parser.addByteFlag("RcCode"); // 1-n-1字节的累加和，取低字节
        }
        {
            // 远程上位机仅查询设置参数命令
            var parser = getParser(0xB2, "查询设置参数");
            parser.addByteFlag("DevID");
            parser.addByteFlag("CMD");  // 0xB3
            parser.addByteFlag("Type"); // 0x01
            parser.addByteFlag("电池类型").setD0Type(0x09)
                .addEnums(0, "铅酸免维护")
                .addEnums(1, "铅酸胶体")
                .addEnums(2, "铅酸液体")
                .addEnums(3, "锂电");
            parser.addByteFlag("识别方式")
                .addEnums(0, "自动识别")
                .addEnums(1, "手动设定");
            parser.addByteFlag("电池数量");
            parser.addByteFlag("DC输出控制").setD0Type(0x0C)
                .addEnums(0, "关闭")
                .addEnums(1, "自动")
                .addEnums(2, "时控开关")
                .addEnums(3, "光控")
                .addEnums(4, "远程控制");
            parser.addByteFlag("本机地址");
            parser.addByteFlag("波特率")
                .addEnums(1, "1200")
                .addEnums(2, "2400")
                .addEnums(3, "4800")
                .addEnums(4, "9600");
            // 9
            parser.addShortFlag("恒定电压", "V", 100);
            parser.addShortFlag("均充电压", "V", 100).setD0Type(0x21);
            parser.addShortFlag("浮充电压", "V", 100).setD0Type(0x22);
            parser.addShortFlag("放电电压", "V", 100).setD0Type(0x23);

            parser.addShortFlag("硬件最大充电电流", "A", 100);
            parser.addShortFlag("最大充电电流", "A", 100).setD0Type(0x25);
            parser.addShortFlag("运行充电电流限制", "A", 100);
            // 23
            parser.addByteFlag("型号编码").setD0Type(0x11);
            parser.addByteFlag("时控输出标志").setD0Type(0x12)
                .addBits(0, "时控时间组1")
                .addBits(1, "时控时间组2");
            parser.addShortFlag("过放恢复电压", "V", 100).setD0Type(0x26);
            parser.addShortFlag("过压保护电压", "V", 100).setD0Type(0x27);
            parser.addShortFlag("过压恢复电压", "V", 100).setD0Type(0x28);

            parser.addShortFlag("PV启动电压", "V").setD0Type(0x29);
            parser.addShortFlag("PV关闭电压", "V").setD0Type(0x2A);
            parser.addShortFlag("延时开启时间", "s").setD0Type(0x2B);
            parser.addShortFlag("延时关闭时间", "s").setD0Type(0x2C);
            // 39
            parser.addTimeFlag("时控1开启时间").setD0Type(0x2D);
            parser.addTimeFlag("时控1关闭时间").setD0Type(0x2E);
            parser.addTimeFlag("时控2开启时间").setD0Type(0x2F);
            parser.addTimeFlag("时控2关闭时间").setD0Type(0x30);
            // 63 校验码
        }
        {
            // 远程上位机仅查询实时数据命令：0XB3
            var parser = getParser(0xB3, "查询实时数据");
            parser.addByteFlag("DevID");
            parser.addByteFlag("CMD");  // 0xB3
            parser.addByteFlag("Type"); // 0x01
            parser.addByteFlag("运行状态")
                .addBits(0, "电池识别错误")   // 运行状态 0=正常；1=异常（电池自动识别错误）
                .addBits(1, "过放保护")       // 电池状态 0=正常；1=过放保护
                .addBits(2, "风扇故障")       // 风扇状态 0=正常；1=风扇故障
                .addBits(3, "过温保护")       // 温度状态 0=正常；1=过温保护
                .addBits(4, "DC输出短路保护") // DC输出状态 0=正常；1=DC输出短路保护
                .addBits(5, "内部温度1故障")  // 内部温度1状态 0=正常；1=故障
                .addBits(6, "内部温度2故障")  // 内部温度2状态 0=正常；1=故障
                .addBits(7, "外部温度1故障"); // 外部温度1状态 0=正常；1=故障
            parser.addByteFlag("充电状态")
                .addBits(0, "充电")         // 充电状态 0=停充；1=充电
                .addBits(1, "均充")         // 1有效
                .addBits(2, "跟踪")         // 1有效
                .addBits(3, "浮充")         // 1有效
                .addBits(4, "充电限流")     // 1有效
                .addBits(5, "充电降额")     // 1有效
                .addBits(6, "远程禁止充电") // 1有效
                .addBits(7, "PV过压");      // 1有效
            parser.addByteFlag("控制状态")
                .addBits(0, "充电输出继电器") // 0=关闭；1=开启
                .addBits(1, "负载输出")      // 0=关闭；1=开启
                .addBits(2, "风扇")          // 0=关闭；1=开启
                //.addBits(3, "")
                .addBits(4, "过充保护")
                .addBits(5, "过压保护");
            //.addBits(6, "备用")
            //.addBits(7, "备用");
            parser.addShortFlag("PV电压", "V", 10);
            parser.addShortFlag("电池电压", "V", 100);
            parser.addShortFlag("充电电流", "A", 100);
            // 12
            parser.addShortFlag("内部温度1", "°C", 10);
            parser.addShortFlag("内部温度2", "°C", 10);
            parser.addShortFlag("外部温度1", "°C", 10);
            parser.addByteFlag("备用");
            parser.addByteFlag("备用");
            // 20
            parser.addLongFlag("日发电量", "度", 1000);
            parser.addLongFlag("总发电量", "度", 1000);
        }

        {
            // 远程上位机查询MPPT命令
            var parser = getParser(0xB1, "查询所有参数");
            parser.addByteFlag("DevID");
            parser.addByteFlag("CMD");  // 0xB1
            parser.addByteFlag("Type"); // 0x01
            parser.addByteFlag("运行状态")
                .addBits(0, "电池识别错误")   // 运行状态 0=正常；1=异常（电池自动识别错误）
                .addBits(1, "过放保护")       // 电池状态 0=正常；1=过放保护
                .addBits(2, "风扇故障")       // 风扇状态 0=正常；1=风扇故障
                .addBits(3, "过温保护")       // 温度状态 0=正常；1=过温保护
                .addBits(4, "DC输出短路保护") // DC输出状态 0=正常；1=DC输出短路保护
                .addBits(5, "内部温度1故障")  // 内部温度1状态 0=正常；1=故障
                .addBits(6, "内部温度2故障")  // 内部温度2状态 0=正常；1=故障
                .addBits(7, "外部温度1故障"); // 外部温度1状态 0=正常；1=故障
            parser.addByteFlag("充电状态")
                .addBits(0, "充电")         // 充电状态 0=停充；1=充电
                .addBits(1, "均充")         // 1有效
                .addBits(2, "跟踪")         // 1有效
                .addBits(3, "浮充")         // 1有效
                .addBits(4, "充电限流")     // 1有效
                .addBits(5, "充电降额")     // 1有效
                .addBits(6, "远程禁止充电") // 1有效
                .addBits(7, "PV过压");      // 1有效
            parser.addByteFlag("控制状态")
                .addBits(0, "充电输出继电器")  // 0=关闭；1=开启
                .addBits(1, "负载输出")       // 0=关闭；1=开启
                .addBits(2, "风扇")           // 0=关闭；1=开启
                //.addBits(3, "")
                .addBits(4, "过充保护")
                .addBits(5, "过压保护");
            //.addBits(6, "备用")
            //.addBits(7, "备用");
            parser.addByteFlag("备用");
            parser.addByteFlag("备用");
            // 8
            parser.addByteFlag("电池类型")
                .addEnums(0, "铅酸免维护")
                .addEnums(1, "铅酸胶体")
                .addEnums(2, "铅酸液体")
                .addEnums(3, "锂电");
            parser.addByteFlag("识别方式")
                .addEnums(0, "自动识别")
                .addEnums(1, "手动设定");
            parser.addByteFlag("电池数量");
            parser.addByteFlag("负载控制方式")
                .addEnums(0, "关闭")
                .addEnums(1, "自动") // 有电就输出
                .addEnums(2, "时控开关")
                .addEnums(3, "光控")
                .addEnums(4, "远程控制");
            parser.addByteFlag("本机地址");
            parser.addByteFlag("波特率")
                .addEnums(1, "1200")
                .addEnums(2, "2400")
                .addEnums(3, "4800")
                .addEnums(4, "9600");
            parser.addByteFlag("备用");
            parser.addByteFlag("备用");
            // 16
            parser.addShortFlag("恒定电压", "V", 100);
            parser.addShortFlag("均充电压", "V", 100);
            parser.addShortFlag("浮充电压", "V", 100);
            parser.addShortFlag("放电电压", "V", 100);

            parser.addShortFlag("硬件最大充电电流", "A", 100);
            parser.addShortFlag("最大充电电流", "A", 100);
            parser.addShortFlag("运行充电电流限制", "A", 100);
            // 30
            parser.addShortFlag("PV电压", "V", 10);
            parser.addShortFlag("电池电压", "V", 100);
            parser.addShortFlag("充电电流", "A", 100);
            // 36
            parser.addShortFlag("内部温度1", "°C", 10);
            parser.addShortFlag("内部温度2", "°C", 10);
            parser.addShortFlag("外部温度1", "°C", 10);

            parser.addByteFlag("备用");
            parser.addByteFlag("备用");
            // 44
            parser.addLongFlag("日发电量", "度", 1000);
            parser.addLongFlag("总发电量", "度", 1000);

            parser.addByteFlag("型号编码");
            parser.addByteFlag("时控输出标志")
                .addBits(0, "时控时间组1")
                .addBits(1, "时控时间组2");

            // 54
            parser.addShortFlag("过放恢复电压", "V", 100);
            parser.addShortFlag("过压保护电压", "V", 100);
            parser.addShortFlag("过压恢复电压", "V", 100);

            parser.addShortFlag("PV启动电压", "V");
            parser.addShortFlag("PV关闭电压", "V");
            // 64
            parser.addShortFlag("延时开启时间", "s");
            parser.addShortFlag("延时关闭时间", "s");
            // 68
            parser.addTimeFlag("时控1开启时间");
            parser.addTimeFlag("时控1关闭时间");
            parser.addTimeFlag("时控2开启时间");
            parser.addTimeFlag("时控2关闭时间");
        }
    }

    registParser();
    //console.log(parseMaps);

</script>

<body>
    <div id="app">
        <el-tabs type="border-card" v-model="select_tab" @tab-click="handleTabClick">
            <el-tab-pane label="连接设置" name="setting">
                <el-form ref="form" label-width="80px">
                    <el-form-item label="地址">
                        <el-input v-model="mqtt_addr"></el-input>
                    </el-form-item>
                    <el-form-item label="用户名">
                        <el-input v-model="mqtt_user"></el-input>
                    </el-form-item>
                    <el-form-item label="密码">
                        <el-input v-model="mqtt_pwd" show-password></el-input>
                    </el-form-item>
                    <el-form-item label="请求主题">
                        <el-input v-model="mqtt_req_topic"></el-input>
                    </el-form-item>
                    <el-form-item label="响应主题">
                        <el-input v-model="mqtt_resp_topic"></el-input>
                    </el-form-item>
                    <el-form-item label="设备ID">
                        <el-input v-model="devId"></el-input>
                    </el-form-item>
                    <el-form-item label="刷新周期">
                        <el-select v-model="refresh_interval" placeholder="请选择">
                            <el-option v-for="item in refresh_options" :key="item.value" :label="item.label" :value="item.value" />
                        </el-select>
                        <!-- <el-input v-model="refresh_interval"></el-input> -->
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="connectServr">连接</el-button>
                        <el-button>取消</el-button>
                    </el-form-item>
                </el-form>
            </el-tab-pane>

            <el-tab-pane label="查询参数" name="all_args"> </el-tab-pane>
            <el-tab-pane label="设置参数" name="edit_args"> </el-tab-pane>
            <el-tab-pane label="运行参数" name="run_args">
                <el-button type="primary" @click="publishCmd(0xC0, 0x05)">重置蜂鸣器报警</el-button>
                <el-button type="primary" @click="publishCmd(0xC0, 0x06)">开启背光</el-button>
                <el-button type="primary" @click="setCurTime">设置当前时间</el-button>
                <el-checkbox v-model="charging" @change="setCharge">充电</el-checkbox>
                <el-checkbox v-model="dcoutput" @change="setDcOutput">DC输出</el-checkbox>
            </el-tab-pane>
                <!-- <el-row>
                    <el-button type="primary" @click="sendCmd(0xb1)">查询参数</el-button>
                    <el-button type="success" @click="sendCmd(0xb2)">设置参数</el-button>
                    <el-button type="info" @click="sendCmd(0xb3)">运行参数</el-button>
                </el-row> -->
            <el-table :data="parser" style="width: 100%" stripe v-if="select_tab!='setting'" :show-header="false" >
                <el-table-column prop="name" label="名字" width="180">
                </el-table-column>
                <el-table-column prop="" label="值">
                    <template slot-scope="scope">
                        <span v-if="scope.row.d0Type == 0">{{scope.row.toString()}}</span>
                        <el-row v-else>
                            <el-select v-if="scope.row.enums.size > 0" v-model="scope.row.rawValue" style="width: 150px;" placeholder="请选择">
                                <el-option v-for="item in scope.row.enums" :key="item[0]" :label="item[1]"
                                    :value="item[0]">
                                </el-option>
                            </el-select>
                            <div v-else-if="scope.row.bits.size > 0" style="display: inline;">
                                <el-checkbox v-for="item in scope.row.bits" :key="item[0]" :label="item[0]" :checked="scope.row.getBit(item[0])"
                                    @change="((val)=>{scope.row.setBit(item[0], val);})">{{item[1]}} </el-checkbox>
                                <!-- <el-checkbox label="禁用" disabled></el-checkbox> -->
                            </div>
                            <el-input v-else-if="scope.row.time" v-model="scope.row.timeStr" style="width: 150px;"></el-input>
                            <el-input v-else v-model="scope.row.rawValue" style="width: 150px;"></el-input>
                            <el-button @click.prevent="editFlag(scope.row)">更新</el-button>
                        </el-row>
                    </template>
                </el-table-column>
            </el-table>

    </div>
</body>
<script>
    new Vue({
        el: '#app',
        mounted() {
        },
        unmounted() {
            if (this.refreshTimer)
                clearInterval(this.refreshTimer);
            // 关闭客户端（断开连接）
            this.client.end();
        },
        data: function () {
            return {
                select_tab: 'setting',
                mqtt_addr: localStorage.getItem("mqtt_addr") || 'ws://106.12.23.22:8883/mqtt',
                mqtt_user: localStorage.getItem("mqtt_user"),
                mqtt_pwd: localStorage.getItem("mqtt_pwd"),
                mqtt_req_topic: localStorage.getItem("mqtt_req_topic") || 'mppt/req',
                mqtt_resp_topic: localStorage.getItem("mqtt_resp_topic") || 'mppt/resp',
                refresh_interval: localStorage.getItem("refresh_interval") || 1000,
                devId: localStorage.getItem("dev_id") || 0x01,
                charging: false,
                dcoutput: false,
                // 刷新
                refresh_options: [{
                    value: '0',
                    label: '手工刷新'
                }, {
                    value: '500',
                    label: '500ms'
                }, {
                    value: '1000',
                    label: '1000ms'
                }
                ],
                refreshTimer: null,
                // mqtt客户端
                client: null,
                // 当前查询的cmd类型
                cmd: 0, 
                // 查询返回的tags, 略过前三个
                parser: null,
            }
        },
        methods: {
            log(obj) {
                console.log(obj);
            },
            saveConfig() {
                localStorage.setItem("mqtt_addr", this.mqtt_addr);
                localStorage.setItem("mqtt_user", this.mqtt_user);
                localStorage.setItem("mqtt_pwd", this.mqtt_pwd);
                localStorage.setItem("mqtt_req_topic", this.mqtt_req_topic);
                localStorage.setItem("mqtt_resp_topic", this.mqtt_resp_topic);
                localStorage.setItem('refresh_interval', this.refresh_interval);
                localStorage.setItem('dev_id', this.devId);
            },
            connectServr() {
                // 连接地址，有很多连接失败都是因为地址没写对
                // 客户端ID（注意：客户端不能写死，如果多人用同一个客户端，那么就会出现MQTT一直是断开重连断开重连的问题）
                // const clientId = `mqtt_${Math.random().toString(16).slice(3)}`;
                // 连接设置
                let options = {
                    clean: true,	// 保留会话
                    connectTimeout: 4000,	// 超时时间
                    reconnectPeriod: 1000,	// 重连时间间隔
                    // 认证信息
                    // clientId,
                    username: this.mqtt_user,
                    password: this.mqtt_pwd,
                }

                this.saveConfig();
                // 创建客户端
                var client = mqtt.connect(this.mqtt_addr, options);
                // 成功连接后触发的回调
                client.on('connect', () => {
                    console.log('已经连接成功');
                    // 需要订阅的主题
                    const resp_topic = this.mqtt_resp_topic;
                    // 订阅主题，这里可以订阅多个主题
                    client.subscribe(resp_topic, () => {
                        console.log(`订阅了主题 ${resp_topic}`)
                        this.select_tab = 'run_args';
                        this.sendCmd(0xb3);
                    });
                });

                // 当客户端收到一个发布过来的消息时触发回调
                /** 
                 * topic：收到的报文的topic 
                 * message：收到的数据包的负载playload 
                 * packet：MQTT 报文信息，其中包含 QoS、retain 等信息
                 */
                client.on('message', (topic, message) => {
                    // 这里有可能拿到的数据格式是Uint8Array格式，可以直接用toString转成字符串
                    // let data = JSON.parse(message.toString());
                    // console.log(topic, "：", message.toString())
                    if (message.length > 2) {
                        var parser = getParser(message[1]);
                        if (parser) {
                            parser.parse(message);
                            if (message[1] == 0xb1 || message[1] == 0xb3) {
                                this.charging = parser.getFlag("充电状态").getBit(0);
                                this.dcoutput = parser.getFlag("控制状态").getBit(1);
                            }
                            if (message[1] == this.cmd)
                                this.parser = parser.flags.slice(3);
                        }
                    }
                });
                /* 当重新连接启动触发回调 
                client.on('reconnect', () => {
                    console.log("正在重新连接")
                });
                
                // 连接断开后触发的回调 
                client.on("close",function () {
                    console.log("已断开连接")
                });
                
                // 在收到 Broker（消息服务器） 发送过来的断开连接的报文时触发的回调，参数 packet 即为断开连接时接收到的报文。MQTT 5.0特性 
                client.on("disconnect",function (packet) { 
                    console.log("从broker接收到断开连接的报文："+packet); 
                });
                
                // 客户端脱机下线触发回调 
                client.on("offline",function () {
                    console.log("您已断开连接，请检查网络")
                });
                
                // 当客户端无法成功连接时或发生解析错误时触发的回调，参数 error 为错误信息
                client.on("error",(error) =>{
                    console.log("客户端出现错误：", error);
                });
                //当客户端发送任何数据包时发出。这包括publish()以及MQTT用于管理订阅和连接的包 
                client.on("packetsend", (packet) => {
                    console.log("send packet", packet);
                });

                //当客户端接收到任何报文时发出。这包括来自订阅主题的信息包以及MQTT用于管理订阅和连接的信息 
                client.on("packetreceive", (packet) => {
                    // 会在 client.on('message', function (topic, message, packet) {}); 之前触发
                    console.log("recv packet", packet);
                });
                */
                this.client = client;
            },
            sendCmd(cmd, type = 1) {
                if (!this.client) {
                    this.$message({
                        message: '请先连接MQTT服务器',
                        type: 'warning'
                    });
                    return;
                }
                if (this.refreshTimer)
                    clearInterval(this.refreshTimer);
                if (this.refresh_interval > 0 && cmd != 0xb2) {
                    this.refreshTimer = setInterval(() => {
                        this.publishCmd(cmd, type);
                    }, this.refresh_interval);
                }
                this.cmd = cmd;
                this.publishCmd(cmd, type);
            },
            setCharge(val) {
                console.log(`setCharge ${val}`);
                this.publishCmd(0xC0, val ? 1 : 2);
            },
            setDcOutput(val) {
                console.log(`setDcOutput ${val}`);
                this.publishCmd(0xC0, val ? 3 : 4);
            },
            setCurTime() {
                var now = new Date();
                var buf = new Uint8Array(8);
                buf[0] = this.devId;
                buf[1] = 0xDF;
                buf[2] = now.getYear() % 100;
                buf[3] = now.getMonth() + 1;
                buf[4] = now.getDate();
                buf[5] = now.getHours();
                buf[6] = now.getMinutes();
                buf[7] = getCrc(buf);
                this.client.publish(this.mqtt_req_topic, buf);
            },
            publishCmd(cmd, type = 1) {
                // 发送信息给 topic（主题）
                var buf = new Uint8Array(8);
                buf[0] = this.devId;
                buf[1] = cmd;
                buf[2] = type;
                buf[3] = 0x00;
                buf[4] = 0x00;
                buf[5] = 0x00;
                buf[6] = 0x00;
                buf[7] = getCrc(buf);
                this.client.publish(this.mqtt_req_topic, buf);
            },
            editFlag(flag) {
                console.log("editFlag", flag.name, flag.rawValue, flag);
                var buf = new Uint8Array(8);
                if (flag.makeD0(buf, this.devId)) {
                    // console.log("sendD0", buf);
                    this.client.publish(this.mqtt_req_topic, buf);
                    // 重新获取参数
                    // this.publishCmd(0xd2);
                }
            },
            handleTabClick(tab, event) {
                console.log(tab, event);
                if (tab.name == 'setting') {
                    // 触发‘配置管理’事件
                    if (this.refreshTimer)
                        clearInterval(this.refreshTimer);
                } else if (tab.name == 'all_args'){
                    this.sendCmd(0xb1);
                } else if (tab.name == 'edit_args'){
                    this.sendCmd(0xb2);
                } else if (tab.name == 'run_args'){
                    this.sendCmd(0xb3);
                } else {

                }
            },
        }
    });
</script>
<style>
</style>

</html>